.contact-box form {
  background: var(--second-bg-color);
  padding: 1rem 3.5rem 3.5rem;
  border-radius: 1rem;
  text-align: center;
}
.contact-box .heading {
  font-size: 3.5rem;
  /* margin-top: 0; */
}
.contact-box .field-box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}
.contact-box .field-box input,
.contact-box .field-box textarea {
  padding: 1.5rem;
  background: var(--bg-color);
  border: 0.15rem solid var(--bg-color);
  font-size: 1.6rem;
  color: var(--white-color);
}
.contact-box .field-box input:focus,
.contact-box .field-box textarea:focus {
  border-color: var(--main-color);
}

.contact-box .field-box textarea {
  grid-column: 1/-1;
  height: 26rem;
}
.contact-box .btn {
  margin-top: 2rem;
  cursor: pointer;
  animation: unset;
  z-index: 1;
  opacity: 1;
  
}

.contact-box .btn.active{
  color: var(--main-color);
}
  